
.a4 {
    width: 210mm !important;
    height: auto !important;
    border: 1px solid #e5e5e5 !important;
    margin: 1rem 0 0 1rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}