
// {{-- ╔═════════════════════════════════╗ --}}
// {{-- ║     Coluna 1: Comum a todos     ║ --}}
// {{-- ╚═════════════════════════════════╝ --}}
i {
    color: #1aa2d3;
    padding-right: .5rem;
}
.hr {
    position: relative;
    border-bottom: solid #aaa 1px;
    width: 95%;
    margin: -.5rem 0 1rem 0;
}
ul {
    list-style: none;
}
.header span {
    color:#666;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.descricao p {
    color:#666;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    padding-right: .8rem;
}


// {{-- ╔═════════════════════════════════╗ --}}
// {{-- ║     Coluna 2: Dados Pessoais    ║ --}}
// {{-- ╚═════════════════════════════════╝ --}}
.pessoal {
    background-color: #e5e5e5;
}
.image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 0 !important;
    padding: 0 !important;
    position: relative;
}
.nome {
    background-color: #1b7ea2;
    opacity: 0.7;
    padding-top: 1.0rem;
    position: relative;
    top: -10px;
    right: 0;
    left: 0;
    width: auto;
    height: 135px;
}
.nome .firstname {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0 !important;
    margin-left: 2rem;
}
.nome .secondname {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: .3rem !important;
    margin-left: 2rem;
}
.nome .cargo {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}
.caracteristicas {
    position: relative;
    padding: 2rem 0 0 1rem;
    margin-bottom: 0 !important;
}
.caracteristicas ul {
    padding-left: .5rem;
}
.caracteristicas ul li {
    list-style: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    color: #666;
    padding-bottom: .3rem !important;
}
.caracteristicas .check-list i {
    padding-right: .1rem !important;

}
.sobre {
    position: relative;
    padding: 3rem 0 0 1rem;
    margin-bottom: 0 !important;
}
.sobre .descricao p {
    font-size: 1rem;
    margin-bottom: .5rem !important;
}
.contato {
    position: relative;
    padding: 3rem 0 0 1rem;
    margin-bottom: 0 !important;
}
.contato .descricao p {
    line-height:90%;
    margin-bottom: .5rem;
}
.contato .descricao p i {
    width: 1.3rem;
    font-size: .8rem;
}
.contato .descricao p span {
    font-size: .8rem;
}
.linkedin span{
    font-size: .7rem !important;

}
.hobbies {
    position: relative;
    padding: 3rem 0 0 1rem;
    color:#666;
}
.hobbies .descricao .row div {
    margin: 0 0 2.5rem 0;
    //border: 1px solid #000;
}

// {{-- ╔═════════════════════════════════╗ --}}
// {{-- ║   Coluna 2: Dados Profissional  ║ --}}
// {{-- ╚═════════════════════════════════╝ --}}
.profissional {
    padding: 1rem 0 0 1.5rem;
}
.objetivo {
    padding-top: 2rem;
}
.objetivo .descricao p {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.competencias {
    position: relative;
    padding: 2rem 0 0 0 !important;
}
.competencias ul li {
    list-style: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    color: #666;
    padding-bottom: .3rem !important;
}
.competencias .check-list {
    width: 97%;
    padding-left: 0rem !important;
    margin-bottom: 0 !important;
}
.competencias .check-list li {
    line-height:130%;
    font-size: 1rem;
    padding-bottom: .3rem !important;
}
.experencias {
    position: relative;
    padding: 2rem 0 0 0;
}
.experencias .row {
    padding-bottom: 1rem;
}

.experencias .empresa {
    padding: 0 0 0 .5rem;
}
.experencias .empresa p {
    color: #666;
    margin: 0 0 .3rem 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: .7rem;
}
.experencias .empresa p:first-of-type {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #1aa2d3;
    font-size: .9rem;
    font-weight: bold;
}
.experencias .atividades p:first-of-type {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: .5rem;;
}
.experencias .atividades p {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #666;
    font-size: .9rem;
    width: 95%;
    margin-bottom: 0;
}
.varios {
    position: relative;
    padding: 2rem 0 0 0;
}
.varios .formacao p:first-of-type {
    color: #1aa2d3;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: .9rem;
}
.varios .formacao {
    position: relative;

}
.varios .idioma {
    position: relative;
    padding-right: 1.2rem;
}
.varios .descricao {
    // border:solid #F00 1px;
    margin: 0 !important;
    padding-left: .7rem !important;
}
.varios .descricao p {
    color: #666;
    margin: 0 0 .3rem 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: .7rem;
    padding: 0;
}
.assinatura {
    position: relative;
    float: none;
    padding: 1rem 0 0 0;
    margin-right: 2.5rem;
    margin-top: 3rem;
    text-align: center;
}
.assinatura img {
    width: 8.5rem;
    filter: sepia(100%) hue-rotate(190deg) saturate(300%);
}
.assinatura .cpfass {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    text-align: center;
    border-top: solid #eee 1px;
    color: #666;
    padding-top: .5rem;
    margin: -1.6rem 2.8rem 0;
}
